body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* header */

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item, .header-links {
    display: none;
}

.header .logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.header span {
    color: #2E2F42;
}

.header-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-menu-svg {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .header-menu-btn {
        display: none;
    }

    .header .logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .header-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
    }

    .header-components {
        color: #2E2F42;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-activ-components {
        position: relative;
        color: #404bbf;
    }
    
    .header-components:hover, .header .header-components:focus {
        color: #404bbf;
    }
    
    .header-components:active {
        color: #404bbf;
        text-decoration: underline;
    }
    
    .header-activ-components::after {
        content: "";
        display: inline-block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    
    .header-links {
        background-color: #ffffff;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        text-decoration: none;
        font-style: normal;
        display: block;
    }
    
    .header-links-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .header-links-ad {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-links-ad:hover, .header-links-ad:focus {
        color: #404BBF;
        cursor: pointer;
    }
}

@media screen and (min-width: 1158px) {  
    .header .container {
        justify-content: space-between;
    }

    .header .logo {
        margin-right: 76px;
    }
    
    .header-links {
        line-height: 1.333;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
    
    .header-links-item {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2e2f42;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover, .mobile-menu-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-svg {
    fill: #2e2f42;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover .modal-svg, .mobile-menu-btn:focus .modal-svg {
    fill: #ffffff;
}

.mobile-menu-nav {
    margin-bottom: auto;
    display: flex;
}

.mobile-menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.mobile-menu-item {
    color: #2E2F42;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:hover, .mobile-menu-item:focus {
    color: #404bbf;
}

.mobile-menu-links {
    background-color: #ffffff;
    text-decoration: none;
    font-style: normal;
    display: flex;
    margin-bottom: 48px;
}

.mobile-menu-links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.mobile-menu-links-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-links-item:hover, .mobile-menu-links-item:focus {
    color: #404BBF;
    cursor: pointer;
}

.mobile-menu-social {
    display: flex;
    align-items: center;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-socials-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials-svg {
    fill: #f4f4fd;
}

.mobile-menu-socials-link:hover, .mobile-menu-socials-link:focus {
    cursor: pointer;
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
} 

/* title */

.title .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title {
    max-width: 320px;  
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;  
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.title-button:hover, .title-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
      
    .title {
        max-width: 768px; 
        padding: 112px 0; 
        box-shadow: none; 
   }
    
    .title-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    
    .title-button {
        border: none;
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .title {
        max-width: 1440px; 
        padding: 188px 0; 
    }

    .title-button {
        margin-top: 48px;
    }
  }

/* strategy */

.strategy {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 288px;
    gap: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.strategy-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.strategy-svg {
    display: none;
}

.strategy-title {
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.strategy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .strategy {
        width: 736px;
        column-gap: 24px;
        row-gap: 72px;
    }
        
    .strategy-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .strategy-title {
        margin-left: 0;
    }
}

@media screen and (min-width: 1158px) {
    .strategy {
        flex-wrap: nowrap;
        width: 1128px;
        gap: 24px;
    }

    .strategy-item {
        width: calc((100% - 72px) / 4);
    }

    .strategy-svg {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        fill: #2E2F42;
        padding: 24px 100px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .strategy-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    
    .strategy-text {
        font-weight: 400;
    }
}

/* team */

.team {
    background-color: #F4F4FD;
}

.team .container {
    padding: 0 28px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 72px;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition-property: box-shadow, background;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card:hover, .team-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-card-box {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
    text-align: center;
}

.team-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover, .team-socials-link:focus {
    cursor: pointer;
    background-color: #404bbf;
}

.team-socials-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    
    .team .container {
        padding: 0 108px;
    }
        
    .team-item {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
       
    .team-item {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .team-card {
        flex-basis: calc((100% - 72px) / 4);
    }
}

/* portfolio */

.portfolio .container {
    color: #434455;  
}

.portfolio {
    background-color: #FFFFFF;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.portfolio-card {
    background-color: #FFFFFF;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-image {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%; 
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.portfolio-card-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {  
    .portfolio-item {
        column-gap: 24px;
        row-gap: 72px;
    }
    
    .portfolio-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        row-gap: 48px;
    }
    
    .portfolio-card {
        flex-basis: calc((100% - 48px) / 3);  
    }
}

/* footer */

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer .logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
}

.footer-span {
    color:  #f4f4fd;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover, .footer-socials-link:focus {
    cursor: pointer;
    background-color: #31d0aa;
}

.footer-socials-svg {
    fill: #f4f4fd;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    opacity: 0.6;
}

.footer input::placeholder {
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
}

.footer-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover, .footer-subscribe-btn:focus {
    background-color: #404BBF;
}

.footer-subscribe-svg {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        margin-right: 24px;
    } 

    .footer-text {
        max-width: 264px;
    }
    
    .footer-social {
        margin-bottom: 104px;
    }
    
    .footer-subscribe {
        align-items: flex-start;
    }
    
    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
    
    .footer-subscribe-form-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
       padding: 100px 0;
    }
    
    .footer .container {
        flex-wrap: nowrap;
        align-items: baseline;
     }

    .footer-container {
        margin-right: 120px;
        margin-bottom: 0;
        align-items: flex-start;
    }
    
    .footer-text {
        width: 264px;
    }
    
    .footer-social {
        margin-right: 80px;
        margin-bottom: 0;
        align-items: flex-start;
    }
    
    .footer-subscribe-form-input {
        opacity: none;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 16px 24px 16px;
    position: absolute;
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover, .modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-svg {
    fill: #2e2f42;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-svg, .modal-btn-close:focus .modal-svg {
    fill: #ffffff;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 256px;
}

.modal-form {
    border-radius: 4px;
}

.modal-form-box {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-form-item {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 34px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-form-item-svg {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-item-svg {
    fill: #4d5ae5;
}

.modal-form-textarea-box {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    opacity: 0.5;
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-form-privacy {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.modal-form-privacy-label {
    margin-bottom: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-form-privacy-mark {
    border-radius: 2px;
    fill:  transparent;
    height: 17px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid  rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition-property: background-color, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.modal-form-privacy-input:checked + .modal-form-privacy-label > .modal-form-privacy-mark {
    background-color: #404bbf; 
    border: none;
    fill: #f4f4fd; 
}

.modal-form-privacy-svg {
    fill: #f4f4fd;
    width: 10px;
    height: 8px;
}

.modal-privacy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-btn {
    display: block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin: 0 auto 24px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-form-btn:hover, .modal-form-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
.modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
}

.modal-title {
    max-width: none;
}

.modal-form {
    border-radius: none;
}

.modal-form-privacy-mark {
    height: 16px;
}
}


@media screen and (min-width: 1158px) {
    
    .modal-input {
        padding-left: 38px;
    }
}
 